@model Core.User

@{
    ViewBag.Title = "Edit Users Info";
    ViewBag.WelcomeMessage = "Control Panel";
    var userArray = (Core.User[])ViewBag.users;
    var userObject = ViewBag.adminUser;
}


<div class="container">
    <h2>@ViewBag.WelcomeMessage</h2>
</div>
<div class="container">
    <table class="table table-bordered table-condensed">
        <tr>
            <td colspan="2">Actions</td>
            <td>User Id</td>
            <td>Username</td>
            <td>Active</td>
        </tr>
        @foreach (var user in userArray) { 
        <tr>
            <td><form action="@Url.Content("~/Admin/EditUser")" method="post"><input type="hidden" value="@userObject" name="adminUser"><button type="submit" class="btn btn-success" name="userid"value="@user.User_id">Edit</button></form></td>
            <td><form action="@Url.Content("~/Admin/DeleteUser")" method="post"><input type="hidden" value="@userObject" name="adminUser"><button type="submit" class="btn btn-success" name="userid" value="@user.User_id">Delete</button></form></td>
            <td>@user.User_id</td>
            <td>@user.Username</td>
            <td>@user.Active</td>
        </tr>
        }

    </table>
</div>
<div class="container">
    <form action="@Url.Content("~/Admin/Main")" method="post">
        <input type="hidden" value="@userObject" name="adminUser">
        <button type="submit" class="btn btn-success btn-lg btn-block">Back to Main Menu</button>
    </form>
</div>