@{
    ViewBag.Title = "Edit Users Info";
    ViewBag.WelcomeMessage = "Control Panel";
    var users = Json.Encode(@ViewBag.users);
    var count = Json.Encode(@ViewBag.count);
}

<div id="example" class="k-content">
<div id="admin_grid"  style="font-size:11px;"> </div>
<script>

    $(document).ready(function() {
        $("#admin_grid").kendoGrid({
            dataSource: {
                type: "jsonp",
                serverPaging: true,
                serverSorting: true,
                pageSize: 30,
                transport: {
                    read: "~/Admin/ControPanel"
                }
            },
            dataBound: findDoc,
            scrollable: false,
            sortable: true,
            pageable: {
    			pageSize: 30
  			},
            columns: [
            	{ title: "Action", template: "<form action = @Url.Content("~/Admin/EditUser") method = 'POST'><input type = 'submit' value = 'Edit'></form>", width: 60},
                { title: "User ID", field: "@users.user_id", width: 60 },
                { title: "Username", field: "@users.username", width: 90 },
                { title: "Active", field: "@users.active", width: 90 }]
        });
    });
</script>
</div>