@{
    ViewBag.Title = "Edit User Info";
    ViewBag.WelcomeMessage = "Edit User";
    Core.User userObject = (Core.User)ViewBag.user;
}

<div class="container">
    <h2>@ViewBag.WelcomeMessage</h2>
</div>
<div class="container">
    <form role="form" action="@Url.Content("~/Admin/SaveUser")" method="post">
        <input type="hidden" value="@userObject.User_id" name="userid">
        <div class="form-group">
            <label for="exampleInputEmail1">New Username</label>
            <input type="email" class="form-control" id="username" name="username" placeholder="@userObject.Username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">New Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="@userObject.Password">
        </div>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
</div>