@model Core.User

@{
    ViewBag.Title = "Edit User Info";
    ViewBag.WelcomeMessage = "Edit User";
    var adminUserObject = ViewBag.adminUser;
    Core.User userObject = (Core.User)ViewBag.user;
}

<div class="container" align="center">
    <form role="form" action="@Url.Content("~/Admin/SaveUser")" method="post">
        <input type="hidden" value="@adminUserObject" name="adminUser">
        <input type="hidden" value="@userObject.User_id" name="userid">
        <table>
            <tr>
                <td><br />New Username:</td>
                <td><br /><input type="email" class="form-control" id="username" name="username" placeholder="@userObject.Username"></td>
            </tr>
            <tr>
                <td><br />New Password:</td>
                <td><br /><input type="password" class="form-control" id="password" name="password" placeholder="@userObject.Password"></td>
            </tr>
        </table>
        <br />
        <button type="submit" class="btn btn-success btn-lg">Update Info</button>
    </form>
</div>