@model Core.User

@{
    ViewBag.Title = "Main";
    ViewBag.WelcomeMessage = "Admin Main Menu";
    var userObject= ViewBag.adminUser;
}


<div class="container">
    <h2>@ViewBag.WelcomeMessage</h2>
</div>
<div class="jumbotron" align="center">
    <table>
        <tr>
            <td>
                <button style="text-align:center" class="btn btn-primary" type="button">
                    Users Online<span class="badge"> @ViewBag.activeUserCount</span>
                </button>
                <br />
                <br />
            </td>
            
        </tr>
        <tr>
            <td>
                <form role="form" action="@Url.Content("~/Home/Chat")" style="text-align:center" method="post">
                    <input type="hidden" value="@userObject" name="username">
                    <button type="submit" class="btn btn-success btn-lg">Chat</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <br />
                <form role="form" action="@Url.Content("~/Admin/ControlPanel")" style="text-align:center" method="post">
                    <input type="hidden" value="@userObject" name="adminUsername">
                    <button type="submit" class="btn btn-success btn-lg">Control Panel</button>
                </form>
            </td>
        </tr>
    </table>
</div>