<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Telerik MVC Application</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.1.415/kendo.common.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.1.415/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.1.415/kendo.default.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2014.1.415/kendo.dataviz.default.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2014.1.415/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.1.415/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2014.1.415/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
    <script src='https://cdn.firebase.com/js/client/1.0.11/firebase.js'></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.0.3.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <link href="boot/bootstrap.min.css" rel="stylesheet">
    <link href="@Url.Content("~/bootstrap/bootstrap-3.1.1-dist/css/bootstrap-theme.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/bootstrap/bootstrap-3.1.1-dist/css/bootstrap-theme.min.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/bootstrap/bootstrap-3.1.1-dist/css/bootstrap.min.css")" rel="stylesheet" type="text/css">
</head>
<body >
    <header></header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section>
            @RenderBody()
        </section>
    </div>

    <footer>
       
    </footer>
</body>
</html>
