@{
    ViewBag.Title = "Edit User Info";
    ViewBag.WelcomeMessage = "Edit User Info";
    Core.User userObject = (Core.User)ViewBag.user;
}

<div style="float: left; width: 350px;">
    <form action="@Url.Content("~/Home/SaveUserInfo")" method="post">
        <input type="hidden" value="@userObject.User_id" name="userid">
        <table>
            <tr>
                <!--Had to use the "at"  symbol here to echo out-->
                <h5>@ViewBag.WelcomeMessage</h5>
                <td>New Username:</td>
                <!--Passing as a viewbag instead of passing as a model-->
                <td><input id="Username" name="Username" type="text" value="@userObject.Username"/></td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td><input id="Password" name="Password" type="password" value="@userObject.Password"/></td>
            </tr>
        </table>
        <input type="submit" value="Submit" style="float: right; width: 150px;">
    </form>
</div>