@{
    ViewBag.Title = "Edit User Info";
    ViewBag.WelcomeMessage = "Edit User Info";
    Core.User userObject = (Core.User)ViewBag.user;
}

<div class="container">
    <h1>@ViewBag.Title</h1>
</div>
<div class="page-header">
    <h1><small> change your user name or password</small></h1>
</div>
<div class="container" align="center">
    <form action="@Url.Content("~/Home/SaveUserInfo")" method="post">
        <input type="hidden" value="@userObject.User_id" name="userid">
        <table>
            <tr>               
                <td><br />New Username:</td>
                <td><br /><input type="email" class="form-control" id="Username" name="Username" value="@userObject.Username" /></td>
            </tr>
            <tr>
                <td><br />New Password:</td>
                <td><br /><input type="password" class="form-control" id="Password" name="Password" value="@userObject.Password" /></td>
            </tr>
        </table>
        <br />
        <button type="submit" class="btn btn-success">Update Info</button>
    </form>
</div>