@{
    ViewBag.Title = "Main";
    ViewBag.WelcomeMessage = "Main Menu";
    Core.User userObject = (Core.User)ViewBag.user;
}

<div class="container">
    <h5>@ViewBag.WelcomeMessage</h5>
</div>
<div style="float: left; width: 350px;">
        <table>
            <tr>
                <td>
                    <form action="@Url.Content("~/Home/Chat")" method="post">
                        <input type="hidden" value ="@userObject.Username" name="username">
                        <input type="submit" value="Chat">
                    </form>
                </td>
            <tr>
                <td>
                    <form action="@Url.Content("~/Home/EditUserInfo")" method="post">
                        <input type="hidden" value="@userObject.User_id" name="userid">
                        <input type="submit" value="Edit Info">
                    </form>
                </td>
            </tr>
        </table>
</div>

<script type="text/javascript">
    $('#displayname').val("@ViewBag.name");
</script>